<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Summary</title>
  </head>
  <body>
    <form method="POST">
      <label for="url">URL: </label>
      <input name="url" />
      <input type="submit" />
    </form>

    {% if article %}
    <h2>{{article.title}}</h2>
    <p>{{article.summary}}</p>
    {% endif %}
  </body>
</html>
